<!-- Insert page -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>Company</center></h1>
        <form class="example" method="post" action="" style="margin:auto;max-width:600px">
            <input type="text" placeholder="Enter company name" name="CompanyName">
            <input type="text" placeholder="Enter SecurityNo" name="SecurityNo">
            <input type="text" placeholder="Enter Limited_Stock_Exchange" name="Limited_Stock_Exchange">
            <input type="text" placeholder="Enter Rate" name="Rate">
            <input type="text" placeholder="Enter No_of_shares" name="No_of_shares">
		    </br>
            <button type="submit" <i>Insert</i></button>
        </form>
    </body>
</html>
