<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<html>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text" >
          Stonks Client Registration Page
        </span>
    </nav>
    <br><br><br>

    <div class="container-sm" align-items-center>
        <form action="{{ url_for('client_insert') }}" method="post">
            <div class="row mb-3">
                <label for="Full Name" class="col-sm-2 col-form-label">Full Name</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" placeholder="Full Name" aria-label="Full Name" name="fullname" value="{{request.form.fullname }}" required>
                </div>
            </div>

            <div class="row mb-3">

                <label for="DOB" class="col-sm-2 col-form-label">Date of Birth</label>
                <div class="col-sm-5">
                  <input type="datetime" class="form-control" placeholder="Date of Birth" name="dob" value="{{request.form.dob }}"aria-label="DOB">
                </div>
            </div>
        
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-5">
                <input type="email" class="form-control" placeholder="Email" id="inputEmail3" name="email" value="{{request.form.email }}" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="phonenumber3" class="col-sm-2 col-form-label">Phone number</label>
              <div class="col-sm-5">
                <input type="tel" class="form-control" placeholder="Phone Number" id="phonenumber3" name="phonenumber" value="{{request.form.phonenumber}}" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="username3" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Username" id="username3" name="username" value="{{request.form.username }}" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-5">
                <input type="password" class="form-control" placeholder="Password" id="inputPassword3" name="password" value="{{request.form.password}}" required>
              </div>
            </div>
            
            <div class="row mb-3">
              <label for="aadharnumber3" class="col-sm-2 col-form-label">Aadhar Number</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" placeholder="Aadhar Number" id="aadharnumber3" name="aadharnumber" value="{{request.form.aadharnumber }}" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="pannumber3" class="col-sm-2 col-form-label">PAN Number</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="PAN Number" id="pannumber3" name="pannumber" value="{{request.form.pannumber}}" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="securitycode3" class="col-sm-2 col-form-label">Security Code</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Security Code" id="securitycode3" name="securitycode" value="{{request.form.securitycode}}" required>
              </div>
            </div>
        
            <div class="row mb-3">
              <label for="dpid3" class="col-sm-2 col-form-label">DP ID</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="DP ID" id="dpid3" name="dpid" value="{{request.form.dpid}}"required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="bankname3" class="col-sm-2 col-form-label">Bank Name</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Name of the Bank" id="bankname3" name="bankname" value="{{request.form.bankname}}"required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="bankacc3" class="col-sm-2 col-form-label">Bank Account Number</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" placeholder="Bank Account Number" id="bankacc3" name="bankacc" value="{{request.form.bankacc}}"required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="bankifsc3" class="col-sm-2 col-form-label">Bank IFSC Number</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="IFSC Number" id="bankacc3" name="bankifsc" value="{{request.form.bankifsc}}"required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="acctype3" class="col-sm-2 col-form-label">Account Type</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Account Type" id="bankacc3" name="banktype" value="{{request.form.banktype}}"required>
              </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Sign Up">
           <!-- <p><button class="btn btn-primary">Sign Up</button></p>-->

          </form>
    </div>
  </html>
